body{
    background-color: rgb(210, 244, 244);
    display: flex;
    justify-content: center;   
    align-items: center;   
    flex-direction: column;    
}
h1{
    color: blue;
    font-family:'Times New Roman', Times, serif;
}
label{
    text-align:center;
}
input{
    background-color: lightgray;
    width: 300px;
    height: 30px;
}
button{
    background-color: lightgreen;
    width: 200px;
    height: 30px;
}