body{
    background-color: bisque;
}
.navbar h1{
    color: rgb(14, 14, 15);
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 40px;
    text-align:center;
}

image{
    float:left;
    position: absolute;
    left: 20px;
    width: 80px;
}

.navbar img {
    float: left;
    position: absolute;
    top: 10px;
    left: 20px;
    width: 80px;
}

.rightbar img {
    width: 100px;
    display: block;
    margin: 50% auto;  
    position: relative;  
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #868B8E;
    padding: 10px;
}

.main{
    display: flex;
    background: #ddd;
    padding: 20px;
}
.sidebar{
    width: 20%;
    padding: 10px;
    background: #eee;
}
.sidebar a{
    text-decoration: none;
    color: blue;
    
}
.content{
    width: 60%;
    padding: 20px;
    background: white ;
}
.rightbar{
    width: 20%;
    text-align: center;
    background: #eee;
    padding: 10px;

}
footer{
    background: #868B8E;
    color: white;
    text-align: center;
    padding: 15px;
}